<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%%= context.title %></title>
  <link rel="stylesheet" href="/css/app.css" />
  <%% head() %>
</head>
<body>
  <header>
    <%% include ../partials/_navbar %>
  </header>
  <main>
    <div class="container">
      <%% content() %>
    </div>
  </main>

  <script src="/js/app.js"></script>
  <%% js() %>
</body>
</html>
