// -------------------------------------
// ボタン（例）
// -------------------------------------

.button {
  background-color: $color-primary;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
