// -------------------------------------
// 色
// -------------------------------------

$color-primary: #ff6f61;
$color-background: #fff;
$color-text: #333;

// -------------------------------------
// 文字
// -------------------------------------

$font-family: sans-serif;
$base-font-size: 16px;

// -------------------------------------
// ブレイクポイント
// -------------------------------------

$break-point-large: 1200px;
$break-point-medium: 600px;
$break-point-small: 480px;

// -------------------------------------
// 大きさ
// -------------------------------------

$page-max-width: 1000px;
